/ScientificCalculator1/nbproject/private/
/ScientificCalculator1/build/
/ScientificCalculatorDemo/nbproject/private/
/ScientificCalculatorDemo/build/
/ScientificCalculatorDemo/dist/
/CrossNKnot/nbproject/private/
/CrossNKnot/build/
/CrossNKnot/dist/
/simpleScientificCalculator/nbproject/private/
/simpleScientificCalculator/build/
/simpleScientificCalculator/dist/
